.container {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas:
            "section aside";
        grid-gap: 40px;
        padding: 40px;
    }

.company-history {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.founders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.founder {
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.founder img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-info {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.contact-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.contact-box {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}