.container {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas:
            "section section"
            "section aside";
        grid-gap: 40px;
        padding: 40px;
    }

.company-history {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.founders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.founder {
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.founder img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-info {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.contact-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.contact-box {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.hero {
    background-image: url('../img/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
    position: relative;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
    background-clip: text;
    color: (--text-color);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    animation: popUp 1s ease-out;
}

.hero-content p {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    animation: fadeIn 1.5s ease-out;
}

@keyframes popUp {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}